@font-face {
    font-family: inter;
    src: url('fonts/sb.otf') format("truetype");
}

@font-face {
    font-family: inter-light;
    src: url('fonts/il.otf') format("truetype");
}


border-shadow {
    box-shadow: 0px 0px 10px 1px gray;
}

.container {
    display: block;
    min-height: 100%;
    min-width: auto;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg, rgba(0,174,255,1) 0%, rgba(0,240,255,1) 100%);
}

.form-container {
    margin-left: 10%;
    margin-right: 10%;
}

.form {
    background-color: white;
    padding: 5px;
    height: auto;
    width: 300px;
    display: block;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
}

.SemiBold40 {
    font-size: 32px;
    font-family: 'inter', FallBack, sans-serif;
    font-weight: 600;
}

.input {
    box-sizing: border-box;
    height: 40px;
    padding-left: 20px;
    font-size: 16px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 8px;
    font-family: 'inter-light', FallBack, sans-serif;
    font-weight: 100;
}

.m20 {
    margin-bottom: 10px;
}

.remember-pas {
    text-align: start;
    margin-left: 12px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #01B5FF;
    font-family: 'inter-light', FallBack, sans-serif;
    font-weight: 100;
    cursor: default;
    text-decoration:underline;
}

.button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(0,174,255,1) 0%, rgba(0,240,255,1) 100%);
}

    .button:hover {
        color: rgb(176, 176, 176);
        background: linear-gradient(90deg, rgba(0,174,255,0.5) 0%, rgba(0,240,255,0.5) 100%);
    }

.fl {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.m5 {
    margin-left: 5px;
}

.mb5 {
    margin-bottom: 15px;
}

.b24 {
    font-size: 20px;
    font-family: 'inter-light', FallBack, sans-serif;
    font-weight: 600;
}

.f16 {
    font-family: 'inter-light', FallBack, sans-serif;
    font-size: 14px;
    font-weight: 100;
}

.blue {
    color: #01B5FF;
    cursor: default;
    text-decoration: underline;
}