@page "/"
@model Notes.WEB.Pages.Authorization.LoginModel
@{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="fonts/Inter-SemiBold.otf" rel="fonts" />
        <title>Document</title>
    </head>
    <body class="container">
        <form class="form">
            <h1 class="SemiBold40">Вход</h1>
            <div>
                <input class="input m20" placeholder="Логин" type="text" />
            </div>
            <div>
                <input class="input" placeholder="Пароль" type="password" />
            </div>
            <h3 class="remember-pas mb5">Забыли пароль?</h3>
            <button class="b24 button">Войти</button>
            <div class="fl">
                <h3 class="f16">Нет аккаунта?</h3>
                <h3 class="m5 f16 blue">Регистрация</h3>
            </div>
        </form>
    </body>
    </html>
}
