@page "/login"
@model Notes.WEB.Pages.Authorization.LoginModel
@{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/css/fonts/Inter-Bold.otf" rel="fonts" />
        <title>Авторизация</title>
    </head>
    <body class="container">
        <form class="form">
            <div class="form-container">
                <h1 class="SemiBold40">Вход</h1>
                <div>
                    <input required class="input m20" placeholder="Логин" type="text" />
                </div>
                <div>
                    <input required minlength="8" class="input" placeholder="Пароль" type="password" />
                </div>
                <h3 id="remember_pas" class="remember-pas mb5">Забыли пароль?</h3>
                <button class="b24 button">Войти</button>
                <div class="fl">
                    <h3 class="f16">Нет аккаунта?</h3>
                    <h3 id="register" class="m5 f16 blue">Регистрация</h3>
                </div>
            </div>
        </form>
        <script src="~/js/login_script.js"></script>
    </body>
    </html>
}
