@page "/register"
@model Notes.WEB.Pages.Authorization.RegisterModel
@{
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/css/fonts/Inter-Bold.otf" rel="fonts" />
        <title>Регистрация</title>
    </head>
    <body class="container">
        <form class="form">
            @Html.AntiForgeryToken()
            <div class="form-container">
                <h1 class="SemiBold40">Регистрация</h1>
                <div class="dv">
                    <input required name="Name" class="input m20" placeholder="Имя" type="text" />
                </div>
                <div class="dv">
                    <input required name="Surname" class="input m20" placeholder="Фамилия" type="text" />
                </div>
                <div class="dv">
                    <input required name="Email" class="input m20" placeholder="Почта" type="email" />
                </div>
                <div class="dv">
                    <input required name="Age" class="input m20" placeholder="Возраст" type="number" />
                </div>
                <div class="dv">
                    <input required name="Login" class="input mb5" placeholder="Логин" type="text" />
                </div>
                <div class="dv">
                    <input required name="Password" id="passw" minlength="6" class="input m20" placeholder="Пароль" type="password" />
                </div>
                <div class="dv">
                    <input required id="passw_repeat" minlength="6" class="input mb5" placeholder="Повтор пароля" type="password" />
                </div>
                <button id="btn_reg" type="submit" formmethod="post" class="b24 button">Регистрация</button>
                <h5 class="red">@ViewData["err"]</h5>
                <div class="fl">
                    <h3 class="f16">Уже есть аккаунт?</h3>
                    <h3 id="login" class="m5 f16 blue">Войти</h3>
                </div>
                <script src="~/js/registration_script.js"></script>
            </div>
        </form>
    </body>
    </html>
}
